<div class="container animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ingresa el numero de orden">
                    <div class="input-group-append">
                        <button class="btn btn-fondo btn-contorno" type="button" id="button-addon2">
                            <fa-icon [icon]="IBuscar"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
