/* Fuentes personalizadas (AL finalizar el proyecto se descartaran las fuentes que no se usen) */

/* Kickrush */
@font-face{
    font-family: 'kickrush';
    src: url(assets/fonts/kickrush.ttf);
}

/* Roboto */
@font-face{
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto.ttf);
}

@font-face{
    font-family: 'Roboto-BoldCondensed';
    src: url(assets/fonts/Roboto-BoldCondensed.ttf);
}

/* A-Space */
@font-face{
    font-family: 'A-Space';
    src: url(assets/fonts/A-Space.otf);
}

@font-face{
    font-family: 'A-Space-Bold';
    src: url(assets/fonts/A-Space-Bold.otf);
}

.scroll-personalizado::-webkit-scrollbar {
    width: 10px;
    background: #AEEBD8;
}

.scroll-personalizado::-webkit-scrollbar-thumb {
    background: #144D38;
}